<!-- <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login user</title>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>

<body>
    <div class="login-page">
        <div class="form">

            <form class="login-form">
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>

        </div>
    </div>
    <script src="/public/styles/login.js"></script>
</body>

</html> -->










<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin login</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="/styles/login.css">

</head>
<body>
  <div class="login-page">
    <div class="form">
      <!-- <form class="register-form">
        <input type="text" name="username" id="username" placeholder="username" />
        <input type="text" name="password" id="password" placeholder="password" />
        <input type="text" name="confirmPassword" id="confirmPassword" placeholder="confirm-password">
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form> -->
      <!-- <form class="login-form">
        <input type="text" name="username" id="username" placeholder="username" />
        <input type="text" name="password" id="password" placeholder="password" />
        <input type="text" name="confirmPassword" id="confirmPassword" placeholder="confirm-password">
        <button>login</button>
        <p class="message">Not registered? <a href="/user/register.ejs">Create an account</a></p>
      </form> -->

      <form class="login-form" action="/admin/login" method="post">
        <input type="text" name="username" id="username" placeholder="username" />
        <input type="password" name="password" id="password" placeholder="password" />
        <button>Login</button>
        <!-- <p class="message">Not registered? <a href="/user/register">Create an account</a></p> -->
    </form>
    
    </div>
  </div>
  <script src="/styles/login.js"></script>
  <script src="/styles/userLoginValidation.js"></script>
</body>
<% if (typeof errorMessage != 'undefined') { %>
  <script>
    // alert("<%= errorMessage %>")
    swal("<%= errorMessage %>");
  </script>
<% } %>

<% if (typeof successMessage != 'undefined') { %>
  <script>
    // alert(' <%= successMessage %>')
    alert(' <%= successMessage %>');

  </script>
<% } %>
</html>